<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.he.musicplus.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.he.musicplus.domain.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="BOOLEAN"/>
            <result property="songId" column="song_id" jdbcType="INTEGER"/>
            <result property="songListId" column="song_list_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="up" column="up" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,type,
        song_id,song_list_id,content,
        create_time,up
    </sql>
</mapper>
