<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.he.musicplus.mapper.VipPriceMapper">

    <resultMap id="BaseResultMap" type="com.he.musicplus.domain.VipPrice">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="viptype" column="viptype" jdbcType="VARCHAR"/>
            <result property="viptime" column="viptime" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,price,
        update_time,viptype,viptime
    </sql>
</mapper>
